body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(249, 254, 255);
}

.block-entry {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
  max-width: 400px;
}

.block-entry label {
  display: block;
  margin-bottom: 8px;
  align-items: center;
  font-weight: bold;
}

.block-entry input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #0d09f3;
  border-radius: 6px;
}
input[type="submit"] {
    display: block;
    width: 10%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(252, 255, 254);
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #11ec1c;
}